<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/home.css">
    <title>NexusMall</title>
</head>
<body>
    <nav>
        <div class="logo"><img src="Images/Exclusion 1.png" alt="" id="logo"></div>
        <div class="links">
                <a href="/home"><img src="Icons/home.png" id="home"></a>
                <a href=""><img src="Icons/browse.png" id="other"></a>
                <a href="/orders"><img src="Icons/account.png" id="other"></a>
        </div>
        <div class="logout"><a href="/logout"><img src="Icons/logout.png" id="logout"></a></div>
    </nav>
    <center>
        <h1 id="head">NexusMall</h1>
    </center>
    <div class="content">  
    <% for (let i = 0; i < 3; i++) { %>
            <div class="showcase">        
                <div class="img"><img src="data:<%= product[i].image.contentType %>;base64,<%= product[i].image.data.toString('base64') %>" alt=""></div>
                <div class="text">
                    <h1><%= product[i].productName  %></h1><br>
                    <b>PRICE:</b>
                    <p>$<%= product[i].unitPrice %></p>
                    <a href="/<%- product[i]._id  %>">
                        <button><img src="Icons/cart.png" alt="Order NOW!"></button>
                    </a>
                </div>
            </div>
    <%  } %>       
    </div>
</body>
</html>